
a {
    /* 去除底線 */
    text-decoration: none;
    /* 繼承父元素的顏色，或是指定固定顏色（例如 #fff） */
    color: inherit; 
    /* 防止點擊時出現的外框（選用） */
    outline: none;
}
/* 確保滑鼠移上去時也不會出現底線或變色 */
a:hover, a:active, a:visited {
    text-decoration: none;
    color: inherit;
}

/* .no-js body{
    scroll-snap-type: y proximity;
} */
main{
    background-color: #f5f5f5;
    background-image: url("../img/texture_bg_2.png"); 
    background-image: image-set(
        url("../img/texture_bg_2.avif") type("image/avif"),
        url("../img/texture_bg_2.webp") type("image/webp"),
        url("../img/texture_bg_2.png") type("image/png")
    );
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}


p{
    font-family: 'Inter' ,'Noto Sans TC', 'sans-serif';
}

/* 第二區塊 */
#game-intro-card{
    min-height: 98dvh;
    margin-bottom: 2dvh;
    height: 200dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (min-width: 300px) {
        max-height: 969px;
    }

    @media (min-width: 1024px) {
        margin-bottom: 0;
        min-height: 80dvh;
    }
}
.panel_border{
     position: relative;
    height: auto;
    @media (min-width: 300px) {
        height: 85dvh;
    }
    display: block;
    width: 100%;
    max-width:1268px ;
    display: contents;
}
.panel_border_img{
content: '';
position: absolute;
    height: 100%;
    aspect-ratio: 4 / 3;
    left: 50%;
     top: 50%;
    transform: translateX(-50%) translatey(-50%); 
    z-index: 1;
}
#panel_border_img{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url("../img/panel_border.png"); 
    background-image: image-set(
        url("../img/panel_border.avif") type("image/avif"),
        url("../img/panel_border.webp") type("image/webp"),
        url("../img/panel_border.png") type("image/png")
    );
    background-position: center;
    background-size: auto 100%;
}
.panel_border_img
.extra-deco{
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
    pointer-events: none; /* 避免影響影片操作 */
}
.extra-deco::before{
content: '';
position: absolute;
    height: 50dvh;
    aspect-ratio: 12 / 7;
    right: 30px;
    bottom:-13%;
 background-image: image-set(
        url("../img/texture_bg_1.avif") type("image/avif"),
        url("../img/texture_bg_1.webp") type("image/webp"),
        url("../img/texture_bg_1.png") type("image/png")
    );
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.6;
     rotate:22.78deg;
}

.extra-deco2{
position: absolute;
    height: 30dvh;
    aspect-ratio: 12 / 7;
    left: 10%;
    top:0%;
 background-image: image-set(
        url("../img/texture_bg_1.avif") type("image/avif"),
        url("../img/texture_bg_1.webp") type("image/webp"),
        url("../img/texture_bg_1.png") type("image/png")
    );
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.6;
     rotate:-5.4deg;
}
.extra-deco3{
    content: '';
    position: absolute;
    height: 485.83px;
    width: 666.91px;
    bottom: 5%;
    background-image: image-set(
        url("../img/sakura-L.avif") type("image/avif"),
        url("../img/sakura-L.webp") type("image/webp"),
        url("../img/sakura-L.png") type("image/png")
    );
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 1;
    left: 12%;
    rotate:-40deg;
    @media (min-width: 1024px) {
        left: -4.5%;
        rotate:-33.81deg;
    } 
}
.extra-deco::after{
    content: '';
    position: absolute;
    z-index: 2;
    height: 396.55px;
    width: 548.83px;
    top:-3.5%;
    background-image: image-set(
        url("../img/sakura-inside-R.avif") type("image/avif"),
        url("../img/sakura-inside-R.webp") type("image/webp"),
        url("../img/sakura-inside-R.png") type("image/png")
    );
    background-size: contain;
    background-repeat: no-repeat;
    right: 8%;
    rotate:66.57deg;
    @media (min-width: 1024px) {
        right: -7.5%;
        rotate:49.89deg;
    }   
}

.panel_border_wrapper{
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10%;
    padding-bottom: 9%;
    display:flex;
    flex-direction: column;
    height:100%;
    aspect-ratio: 4 / 3;
    width:auto;
    top: 0%;
    text-align: center;
    justify-content: center;
    z-index: 20;
    box-sizing: border-box;
}

.intro-card{
    padding: 0 20%;
    flex: 1 1 auto;
}
.intro-card2{
    padding: 0 15%;
}
.word_art_img{
    padding: 6px 0;
  max-width: 100vw;
   font-size:24px;
   height:30px;
    @media (min-width: 1024px) {
        padding: 10px 0;
        font-size:28px;
    height:50px;
    };
   @media (min-width: 1600px) {
    .word_art{
   font-size:42px;
   height:60px;
    };
}
}
.word_art{
  max-width: 60vw;
  font-size: clamp(24px, 4vw, 42px);  
  height: clamp(45px, 5vw, 60px); 
}
.intro-card p{
    max-width: 80vw;
    @media (min-width: 1024px) {
        margin-top: 5%;
    }
    @media (min-aspect-ratio: 4/3) {
        margin-top: clamp(24px, 3dvh, 30px);
    }
    margin-left: auto;
    margin-right: auto;
    font-weight: 500;
    font-size: clamp(16px, 2dvh, 20px);
    line-height:  clamp(24px, 3dvh, 30px);
    letter-spacing: 1px;
    text-align: center;
    color: #3C2B51;
}
.intro-card h3{
    margin:0;
}


#promo_video{
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* 從頂端開始排列 */
    align-items: center; /* 水平置中，如需拉滿改為 stretch */
    padding-top: 5%; /* 可依需求微調上方間距 */
    height: auto;
    @media (min-width: 1024px) {
        height: 100vh;
        min-height: max-content;
        margin: 3vh 0;
    }
}
#promo_video::before{
    content: '';
    height: 100%;
    width: 100%;
    z-index: 0;


    
    left: 0;
    position: absolute;
    background-image: url("../img/section_bg.png"); /* fallback */
    background-image: image-set(
        url("../img/section_bg.avif") type("image/avif"),
        url("../img/section_bg.webp") type("image/webp"),
        url("../img/section_bg.png") type("image/png")
    );
    bottom: -15dvh;
    background-size: cover; 
    background-position: bottom center;  /* 確保圖片縮窄後依然居中 */
    @media (min-width: 1024px) {
        bottom: 5%;
        background-size: 200% auto ; 
        background-position: bottom center; 
    }
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    pointer-events: none; /* 避免影響影片操作 */
}

.video_container{
    position: relative;
    max-width: 1600px;
    width: 85vw;
    height: auto;
    aspect-ratio: 16 / 10;
     display: flex;
     justify-content: center;
    @media (min-width: 1024px) {
        width: 70%;
    }
}
.video_container::before{
    content: '';
    height: 125%;
    width: 130%;
    position: absolute;
    background-image: url("../img/video_border.png"); /* fallback */
    background-image: image-set(
        url("../img/video_border.avif") type("image/avif"),
        url("../img/video_border.webp") type("image/webp"),
        url("../img/video_border.png") type("image/png")
    );
    top: 50%;
    background-size: 86% 100%; /* 寬度縮到 80%，高度維持 100% */
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    left: 50%;
    transform: translateX(-50%) translatey(-50%); 
    pointer-events: none; /* 避免影響影片操作 */
}
.video_container::after{
    content: '';
    z-index: 5;
    position: absolute;
    background-image: image-set(
        url("../img/sakura-inside-L.avif") type("image/avif"),
        url("../img/sakura-inside-L.webp") type("image/webp"),
        url("../img/sakura-inside-L.png") type("image/png")
    );
    background-size: contain;
    background-repeat: no-repeat;
    height: 173px;
    width: 240px;
    left: -115px;
    bottom: -130px;
    rotate:18.52deg;
    @media (min-width: 1024px) {
        rotate:0;
        height: 356px;
        width: 492px;
        left: -295px;
        bottom: -256px;
    } 
}

.sakura {
    z-index: 5;
    position: absolute;
    background-image: image-set(
        url("../img/sakura-inside-R.avif") type("image/avif"),
        url("../img/sakura-inside-R.webp") type("image/webp"),
        url("../img/sakura-inside-R.png") type("image/png")
    );
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 276px;
    right: -190px;
    bottom: -130px;
    @media (min-width: 1024px) {
        height: 388px;
        width: 537px;
        right: -382px;
        bottom: -250px;
    }
}
.video_container video{
    width: 100%;
    height: auto;
    aspect-ratio: 16 / 10;
    z-index: 5;
    border-radius: 12px;
}


#character-info {
    margin-bottom: 80px;
    @media (min-width: 1024px) {
        margin-bottom: 0;
    }
}
.character-item{
    display: block;
    height: 100%;
}
.character-item figure{
    height: 100%;
    position: relative;
    max-width: 1049px;
    margin-left: auto;
    margin-right: auto;
}
.main_character {
    height: 100%;
   display: flex;
    justify-content: center;
    align-items: center;
}
.main_character::before{
position: absolute;
    content: '';
    top:0%;
    right: 22%;
    width: clamp(200px, 14vw, 337px);
    height: clamp(277px, 20vw, 466px);
    transform: rotate(63.17deg);
    z-index: 2;
    background-size: contain; 
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    background-image: url("../img/sakura-L.png"); /* fallback */
    background-image: image-set(
        url("../img/sakura-L.avif") type("image/avif"),
        url("../img/sakura-L.webp") type("image/webp"),
        url("../img/sakura-L.png") type("image/png")
    );
}
.main_character::after{
    position: absolute;
    content: '';
    top:55%;
    left: 32%;
    width: clamp(289px, 25vw, 489px);
    height: clamp(176px, 15vw, 298px);
    transform: rotate(-18.25deg);
    opacity: 0.6;
    z-index: 1;
    background-size: contain; 
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    background-image: url("../img/texture_bg_1.png"); /* fallback */
    background-image: image-set(
        url("../img/texture_bg_1.avif") type("image/avif"),
        url("../img/texture_bg_1.webp") type("image/webp"),
        url("../img/texture_bg_1.png") type("image/png")
    );
}
.main_character img{
    height: 98%;
    margin-right: 13%;
    z-index:2;
}
.content-wrapper{
    position: absolute;
    bottom: 0;
    transform: translatey(10%);
    padding: 16px;
    @media (min-width: 1024px) {
        padding: 0;
        width: 44.5%;
        max-width: 464px;
        bottom: auto;
        top:50%;
        right: 0;
        transform: translatey(-50%); 
    }
    @media (min-width: 1080px) {
        right: -8%;
    }
    
    z-index: 2;
}

.content-wrapper::before{
position: absolute;
    content: '';
    bottom:-25%;
    right: -10%;
    width: clamp(200px, 14vw, 337px);
    height: clamp(277px, 20vw, 466px);
    transform: rotate(-129.66deg);
    z-index: 0;
    background-size: contain; 
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    background-image: url("../img/sakura-L.png"); /* fallback */
    background-image: image-set(
        url("../img/sakura-L.avif") type("image/avif"),
        url("../img/sakura-L.webp") type("image/webp"),
        url("../img/sakura-L.png") type("image/png")
    );
}
.word_art_2{
  font-size: clamp(32px, 4vw, 46px);  
  height: clamp(40px, 4vw, 66px); 
  font-family: "GenSenRounded2 JP", sans-serif;
}

#say_5{
    position: absolute;
    top:10%;
    right: 5%;
    @media (min-width: 1024px) {
        top: 35.5%;
        right: 40%;
        left:auto;
    }
    height: 50%;
    z-index: 30;
}
#character_name {
    height: 46px;
    @media (min-width: 1024px) {
        max-height: 66px;
        height:12%;
    }
}
.art-word{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    letter-spacing:-0.2em;
}
.summary-background{
    top:45%;
    left: 50%;
    transform:translateX(-50%) translateY(-35%); 
    position: absolute;
    width: 100vw;
    height: 28%;
    aspect-ratio: 279 / 232;
    background: linear-gradient(90deg, rgba(110, 101, 150, 0) 0%, #6E6596 50%, rgba(110, 101, 150, 0) 100%);
    z-index: 0;
    border-width: 4px, 0px, 4px, 0px;
    border-style: solid;
    border-image-source: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 50%, rgba(255, 255, 255, 0) 100%);
}
.summary-background::before{
    position: absolute;
    content: '';
    top:-40%;
    left: 30%;
    width: clamp(289px, 25vw, 489px);
    height: clamp(176px, 15vw, 298px);
    transform: rotate(-130deg);
    opacity: 0.8;
    z-index: 1;
    background-size: contain; 
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    background-image: url("../img/texture_bg_1.png"); /* fallback */
    background-image: image-set(
        url("../img/texture_bg_1.avif") type("image/avif"),
        url("../img/texture_bg_1.webp") type("image/webp"),
        url("../img/texture_bg_1.png") type("image/png")
    );
}
.summary-background::after{
    position: absolute;
    content: '';
    top:-40%;
    left: 25%;
    width: clamp(100px, 20vw, 196px);
    height: clamp(139px, 26vw, 273px);
    transform: rotate(-145.29deg);
    z-index: 2;
    background-size: contain; 
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    background-image: url("../img/sakura-L.png"); /* fallback */
    background-image: image-set(
        url("../img/sakura-L.avif") type("image/avif"),
        url("../img/sakura-L.webp") type("image/webp"),
        url("../img/sakura-L.png") type("image/png")
    );
}
.paper_clip{
    position: absolute;
    width: 36px;
    height: 66px;
    background-size: 36px 66px;/* 調整圖大小 */
    @media (min-width: 1024px) {
        width: 46px;
        height: 76px;
        background-size: 46px 76px;/* 調整圖大小 */
    }
    top: -15px;
    right: 15px;
    background-image: url("../img/paper_clip.png"); /* fallback */
    background-image: image-set(
        url("../img/paper_clip.avif") type("image/avif"),
        url("../img/paper_clip.webp") type("image/webp"),
        url("../img/paper_clip.png") type("image/png")
    );
    
  }
.corner{
    position: absolute;
    width: 101px;
    height: 101px;
    background-image: url("../img/coner.png"); /* fallback */
    background-image: image-set(
        url("../img/coner.webp") type("image/webp"),
        url("../img/coner.png") type("image/png")
    );
    background-size: 101px 101px;/* 調整圖大小 */
  }
  .corner-img0 {
    top: -12px;
    left: -12px;
  }
  .corner-img1 {
    top: -12px;
    right: -12px;
    transform: scaleX(-1);
  }
  .corner-img2 {
    bottom: -12px;
    left: -12px;
    transform: scaleY(-1);
  }
  .corner-img3 {
    bottom: -12px;
    right: -12px;
    transform: scale(-1, -1);
  }

   .gradient_Borden{
    position: relative;
    border-radius: inherit;
    background-color: #fff; 
    
  }
  .gradient_Borden::before  {
    content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 16px;
      padding: 3px; /* 調整邊框寬度 */
      background: linear-gradient(180deg, #F7C7DD 0%, #D7BEED 100%);
      -webkit-mask: 
        linear-gradient(#fff 0 0) content-box, 
        linear-gradient(#fff 0 0);
      -webkit-mask-composite: xor;
      pointer-events: none; 
          border: 1px solid #947C98;
    }
    .photo.gradient_Borden::before  {
        border-radius: 4px;
        background: linear-gradient(180deg, #D49CFF 0%, #A56AFF 100%);
    }
    .introduce{
        padding: 16px;
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
        @media (min-width: 1080px) {
            font-size: 20px;
            padding: 32px;
            line-height: 37px;
        }
        font-weight: 500;
        color: #3C2B51;
        letter-spacing: 1px;
        border-radius: 16px;
    }

    .art_title{
        text-align: center;
        .absolute{
            left: 0;
            right: 0;
            z-index: 5;
        }
        img{
            height: 32px;
            @media (min-width: 1024px) {
                max-height: 60px;
                height:10%;
            }
        }
        @media (min-width: 1024px) {
            margin-bottom: 46px;
        }
        @media (min-width: 1440px) {
            margin-bottom: 60px;
        }
    }
#gallery{
    height: auto;
    position: relative;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
}
#gallery::before{
    position: absolute;
    content: '';
    top:15%;
    left: 0cm;
    width: clamp(695px, 54vw, 1054px);
    height: clamp(424px, 32vw, 642px);
    transform: rotate(-128.49deg);
    opacity: 0.6;
    z-index: 0;
    
    background-size: contain; 
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    background-image: url("../img/texture_bg_1.png"); /* fallback */
    background-image: image-set(
        url("../img/texture_bg_1.avif") type("image/avif"),
        url("../img/texture_bg_1.webp") type("image/webp"),
        url("../img/texture_bg_1.png") type("image/png")
        );
}
#gallery::after{
    position: absolute;
    content: '';
    bottom:25%;
    z-index: -1;
    @media (min-width: 1024px) {
        top:10%;
        bottom: 0;
        z-index: -1;
    }
    left: 25%;
    width: clamp(695px, 54vw, 1054px);
    height: clamp(424px, 32vw, 642px);
    transform: rotate(-38.49deg);
    opacity: 0.6;
    background-size: contain; 
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    background-image: url("../img/texture_bg_1.png"); /* fallback */
    background-image: image-set(
        url("../img/texture_bg_1.avif") type("image/avif"),
        url("../img/texture_bg_1.webp") type("image/webp"),
        url("../img/texture_bg_1.png") type("image/png")
        );
}
    #summary{
        height: auto;
        margin-top: 10%;
        margin-bottom: 5%;
    }
    #summary .btn-group{
        margin-top: 20px;
        margin-bottom: 32px;
        @media (min-width: 1024px) {
             margin-top: 40px;
        }
    }
    .row{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center; /* 水平平均分配 */
        align-items: center; /* 水平置中，如需拉滿改為 stretch */
        margin:0px auto;
        gap:16px;
    }
    #summary .row{
        flex-direction:column;
        width: auto;  
        @media (min-width: 1024px) {
            flex-direction: row;
        }
        @media (min-width: 1080px) {
            width: 1064px;  

        }
    }

.game-title{
    margin: 0;
    /* width: 389; */
    height: 48px;
    position:relative;
    @media (min-width: 1024px) {
        height: 66px;
    }
}
#logo-border{
    position: absolute;
    top: -50%;
    left: 0;
    width: 110%;
    height: 180%;
    z-index: 5;
}
#logo-border img{
    width: 100%;
    height: 100%;
    transform: translateX(-5%) translateY(10%);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
#logo-title-art {
    position: absolute;
    top: 55%;
    @media (min-width: 1024px) {
        top: 55%;
    }
    left: 50%;
    transform: translateX(-50%) translateY(-45%);
    z-index: 8;
    padding:0;
}
.summary-info{
    border-radius: 16px;
    flex: 3;
    width: 98vw;
    @media (min-width: 1024px) {
        width: auto;
    }
}
.summary-box{
    border-radius: 16px;
    margin: 0 2.5vw;
     width: auto;
     height: auto;
     @media (min-width: 1024px) {
        height: 394px;
        margin-top: -4px;
        width: 579px;
        margin-right: 0;
        margin-left: 21px;
     }
}
.price{
    color: #8163CE;
font-family: 'Georama';
font-weight: 900;
font-style: Black;
font-size: 20px;
line-height: 34px;
letter-spacing: 1px;

}
ul hr{
    list-style: none;
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #A08383;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
}
.absolute{
    position: absolute;
}
.shadow {
    visibility: hidden;
    position: relative;
}
    #summary-cover{
         display: block;
         text-align: end;
        height: auto;
        width: 45vh;
        max-width: 96vw;
        aspect-ratio: 1 / 1;
        margin: 0 auto;
        @media (orientation: landscape) and (max-height: 400px) {
            width: 45vw;
        }
        @media (min-width: 1024px) {
            margin:0;
            width: 427px;
        }
        
        overflow: hidden;
    }
    #summary-cover img{
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: 60% center;
        position:relative;
        z-index: 2;
    }
    .summary-cover{
        position:relative;
        display: flex;
    justify-content: flex-end;
        flex: 2;
        min-width: 400px;
    }
    #site-footer{
        height: auto;
        @media (min-width: 1024px) {
            scroll-snap-align: end;
            height: 164px;
        }
        background: linear-gradient(90deg, rgba(93, 95, 150, 0.3) 0%, #5D5F96 50%, rgba(93, 95, 150, 0.3) 100%);
        
        opacity: 1;
        box-sizing: border-box;

        .akaerocore_logo img{
            aspect-ratio: 462 / 79;
            height: auto;
            width:clamp(201px, 5vw, 231px);
            padding-left:0;
        }    
    }
    .footer{
        flex-direction:column;
        gap: 0;
        @media (min-width: 1024px) {
            flex-direction:row;
            gap: 24px;
        }
        max-width: 1180px;
        height: 100%;
        color: #FFFFFF;
        align-items: center;
    }
    .akaeroCore_Co{
        display: none;
        @media (min-width: 1024px) {
            display: block;
        }
    }
    .akaeroCore_Co.mobile{
        display: block;
        @media (min-width: 1024px) {
            display: none;
        }
    }
.spec-list{
    display: flex;
    flex-direction:column;
    gap:4px;
    padding: 12px;
    @media (min-width: 1024px) {
        gap:8px;
        padding: 32px;
    }
}

ul {
  list-style: none;
  padding: 0;   /* 順便清掉預設左縮排 */
  margin: 0;    /* 視情況清掉 */
  color:  #561A71;

}
#has_hr{
    border-bottom: 1px solid #A08383;
    padding-bottom: 16px;
    margin-bottom: 8px;
}
li span {
    font-family:  'Georama','Chiron GoRound TC','sans-serif';/*'PingFang TC'*/
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 1px;
}
li strong.border {
     font-family:  'Georama','Chiron GoRound TC','sans-serif';/*'PingFang TC'*/
    font-weight: 500;
    font-size: 20px;
    line-height: 34px;
    letter-spacing: 1px;
    text-align: center;
    display: inline-block;
     width: 113px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    background-image: url("../img/info_list_border.png"); /* fallback */
    background-image: image-set(
        url("../img/info_list_border.avif") type("image/avif"),
        url("../img/info_list_border.webp") type("image/webp"),
        url("../img/info_list_border.png") type("image/png")
    );
    background-size: 113px 36px;/* 調整圖大小 */
    margin-right: 10px;
}
#age-warning img{
    width: 84px;
    height: 84px;
    padding: 16px;
    @media (min-width: 1024px) {
        padding: 0px 32px;
    }
}
    .property-left{
        text-align: start;
        picture {
            margin-left:auto ;
            margin-right: 6px;
        }
    }
    .property-right{
        text-align: end;
         picture {
            margin-right:auto ;
            margin-left: 6px;
        }
    }
    .photo {
        display: block;
        margin: 0;
        height: 100%;
        box-sizing: border-box;
        padding: 10px 10px 26px 10px;
        gap: 10px;
    }
    .photo img {
        width:100%;
        height: 100%;
    }


.game_bg1{
    position: absolute;
    width: 100%;
    height: 133dvh;
}
.game_bg1::after{
    position: absolute;
    content: '';
    top:75dvh;
    left: -25%;
    width: clamp(695px, 90vw, 1728px);
    aspect-ratio: 16 / 9;
    height: auto;
    transform: rotate(59.18deg);
    opacity: 0.6;
    z-index: 0;
    background-size: contain; 
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    background-image: url("../img/texture_bg_1.png"); /* fallback */
    background-image: image-set(
        url("../img/texture_bg_1.avif") type("image/avif"),
        url("../img/texture_bg_1.webp") type("image/webp"),
        url("../img/texture_bg_1.png") type("image/png")
        );
}
.game_bg2{
    position: absolute;
    width: 100%;
    height: 133dvh;
}
.game_bg2::after{
    position: absolute;
    content: '';
    top:250dvh;
    left: 0%;
    width: clamp(695px, 90vw, 1728px);
    aspect-ratio: 16 / 9;
    height: auto;
    transform: rotate(-38.49deg);
    opacity: 0.6;
    z-index: 0;
    background-size: contain; 
    background-repeat: no-repeat; /* 防止縮小後出現重複圖片 */
    background-position: center; /* 確保圖片縮窄後依然居中 */
    background-image: url("../img/texture_bg_1.png"); /* fallback */
    background-image: image-set(
        url("../img/texture_bg_1.avif") type("image/avif"),
        url("../img/texture_bg_1.webp") type("image/webp"),
        url("../img/texture_bg_1.png") type("image/png")
        );
}


.sticky-content {
    position:relative;
    flex-direction: column;
    height:100%;
    scroll-snap-align: none;
    scroll-snap-type: none;
    scroll-snap-stop:normal;
}
.intro-effect{
    position:relative;
    max-width: 1056px;
}
.gallery-content{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
    @media (min-width: 1024px) {
        gap: 16px;
    }
    @media (min-width: 1440px) {
        gap: 24px;
    }
    .photo {
        margin-bottom: 8px;
        @media (min-width: 1440px) {
            margin-bottom: 0;
        }
        img {
            max-width: 428px;
            min-width: 170px;
            width: 40vw;
            align-self: stretch;
            object-fit: cover;
            object-position:center;
        }
    }
}
#game-system {
    margin-top: 20dvh;
    @media (min-width: 1024px) {
        margin-top:0;

    }
    .photo{
        max-width: 886px;
        img {
            width: 100%;
            align-self: stretch;
            object-fit: cover;
            object-position:center;
        }
    }
    .content{
         max-width: 1056px;
         margin: 0 auto;
    }
}
/* 照片牆 */
.gallery-section figure picture img {
    height: 100%;
    width: 100%;
}




/* 圖片預覽遮罩 */


.lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

.lightbox img {
    max-width: 90%;
    width: auto;
    max-height: 90%;
    height: auto;
    object-fit: contain;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    transform: scale(0.9);
    transition: transform 0.3s ease;
}

.lightbox.active img {
    transform: scale(1);
}
.cg{
    background: transparent;
    transition: transform 0.6s cubic-bezier(0.2, 1, 0.3, 1), 
                filter 0.6s ease,
                box-shadow 0.6s ease;
    backface-visibility: hidden;
    will-change: transform;
    margin: 0;
  
    cursor: pointer;
}
/* 懸停狀態 */
.cg:hover {
    /* 1. 微幅放大，不要太大以免切到邊緣 */
  transform: scale(1.03); 
  
  picture{
    /* 2. 增加亮度，像被光照到一樣 */
  filter: brightness(1.1) contrast(1.05); 
  /* 3. 增加深邃的陰影感 */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  }
  
  z-index: 25; /* 確保放大時不會被隔壁的圖片擋住 */
}
/* 點擊瞬間的微縮回饋 */
.cg:active {
  transform: scale(0.98);
  transition: transform 0.1s ease;
}
/* 對話框 */
.avatar{
    width: clamp(86px, 10vw, 123px);
    height: clamp(86px, 10vw, 123px);
}
.chat-row{
    max-width: 1056px;
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 1px;
    color: #3C2B51;
    margin-left: 8px;
    margin-top: -10%;
    margin-bottom: 32px;
    @media (min-aspect-ratio: 4/3) {
        font-size: 18px ;
        line-height:31px;
        margin-top: -8%;
        margin-bottom: 46px;
    }
    @media (min-aspect-ratio: 16/9) {
        font-size: 20px ;
        line-height:37px;
        margin-top: -6%;
        margin-bottom: 60px;
    }
    
}
.chat-row.reverse{
    flex-direction:row-reverse;
    margin-right:8px ;
}
.round{
    display:block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    object-fit: cover;
    overflow: hidden;
}
.round img{
    width: 100%;
    height: 100%;
}
.round.gradient_Borden::before {
    border-radius:50%;
}
.bubble{
    max-width: 60%;
    margin-top: 10px;
    margin-left: 29px;
    margin-right: 29px;
    background: #F1E9FF;
    box-shadow: 0px 2px 0px 0px #4D374F,0px 2px 0px 0px #FFFFFF inset;
    padding: 0 16px;
    gap: 10px;
    opacity: 1;
    border-radius: 16px;
    position:relative;
    @media (max-height: 768px) {
        max-width: 85%;
        margin-top: 15px;
    }
    @media (min-aspect-ratio: 4/3) {
       margin-top: 15px;
    }
    @media (min-aspect-ratio: 16/9) {
        margin-top: 20px;
    }
}
/* .bubble-left{
    
    margin-right: 0;
} */
.bubble::before{
    content: '';
      position: absolute;
      top: 24px;
      right: -24px;
     background: #4D374F;
    width: 25px;
    height: 22px;
 clip-path: polygon(
    0% 0%,    /* 左上 */
    0% 100%,  /* 左下 */
    100% 50%  /* 右中 */
  );
}
.arrow-inner {
  position: absolute;
  right: -24px;
  top: 22px;
  width: 25px;
  height: 22px;
  background: #FFFFFF;
 clip-path: polygon(
    0% 0%,    /* 左上 */
    0% 100%,  /* 左下 */
    100% 50%  /* 右中 */
  );
}
.bubble::after{
      content: '';
      position: absolute;  
      top: 24px;
      right: -22px;
     background: #F1E9FF;
 width: 23px;
  height: 20px;
 clip-path: polygon(
    0% 0%,    /* 左上 */
    0% 100%,  /* 左下 */
    100% 50%  /* 右中 */
  );
}
.bubble-left .arrow-inner {
  left: -24px;
  clip-path: polygon(
    0% 50%,   /* 左中 */
    100% 0%,  /* 右上 */
    100% 100% /* 右下 */
  );
}
.bubble.bubble-left::after{
     left: -22px;
  clip-path: polygon(
    0% 50%,   /* 左中 */
    100% 0%,  /* 右上 */
    100% 100% /* 右下 */
  );
}
.bubble.bubble-left::before{
  left: -24px;
  clip-path: polygon(
    0% 50%,   /* 左中 */
    100% 0%,  /* 右上 */
    100% 100% /* 右下 */
  );
}

